img.avatar {
    width: 60px;
    height: 60px;
}

label {
    display: block;
}

.tweet {
    margin: 1em;
}

.user {
    padding: 1em;
}

.user ul {
    list-style: none;
}

.tweet-box {
    margin: 1em;
}

.tweets-section {
    margin-top: 2em;
}

textarea {
    resize: none;
 }