img.avatar {
    width: 60px;
    height: 60px;
}

label {
    display: block;
}

.user {
    padding: 1em;
}

.user ul {
    list-style: none;
}

.tweet-box {
    margin: 1em;
}

.tweets-section {
    margin-top: 2em;
}

.filter-users {
    margin-bottom: 2em;
}

textarea {
    resize: none;
}

.tweet > .tweeter-avatar {
     float: left;
     margin-right: 1em;
}